.date-nav {
    align-items: center;
    margin-bottom: 2rem;
}


button.date-nav-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    text-decoration: none;
    /* ensures it's not underlined by default */
}

button.date-nav-button:hover {
  text-decoration: underline;
}

.date-nav-button + .date-nav-button::before {
  content: '|';
  margin: 0 ;
  color: #999; /* light gray separator */
}