.showtime-listing {
    padding-bottom: 1.5rem;
}


.showtime-listing h3 {
    background-color: #222827;
    color: white;
    font-weight: normal;
    font-size: 1rem;
    margin:0px;
    padding: 0.2rem 8px 0.2rem 0.4rem;
}

.showtime-listing h3 a {
    color: white;
    text-decoration: none;
}

.showtime-listing h3 a:hover {
    text-decoration: underline;
}

.showtime-listing .showtime-listing-details {
    margin: 0.25rem 0.2rem .2rem 0.4rem;
    font-size: 0.9rem;
    color: #666;
}

.showtime-listing .showtime-listing-description {
    margin: 0.25em 0.2rem .2rem 0.4em;
    padding: 0rem 0.5rem 0rem 0rem;
    font-size: 0.9rem;
    color: #222827;
}